<%= link_to "品物を登録", new_product_path %>

<%= link_to "品物一覧", products_path %>

<%= link_to "カート一覧", cart_path(:cart_id) %>

<p>
<% @product.each do |item| %>
商品名:<%= item.name %>
価格:<%= item.price %>円
<%= link_to 'カートに追加', cartitems_path(product_id: item.id, cart_id: :cart_id), method: :create %>
<br>
<% end %>
</p>
