<p>
  <% @cartitem.each do |item| %>
  <% @product = Product.find(item.product_id) %>
   商品名:<%= @product.name%>
   価格:<%= @product.price %>円
   数量:<%= item.qty %>個
   <%= link_to "カートから削除", cartitem_path(id: item.id), method: :delete %>
   <% @pricesum = @pricesum + @product.price * item.qty %>
   <br>
  <% end %>
</p>

<p>合計金額:<%= @pricesum %>円</p>

<p><%= link_to "ホームに戻る", top_main_path %></p>


