<p>
<% @product.each do |item| %>
商品名:<%= item.name %>
価格:<%= item.price %>円
<%= link_to '削除', product_path(item.id), method: :delete, data: { confirm: '削除していいですか？' } %>
<br>
<% end %>
</p>

<p><%= link_to "ホームに戻る", top_main_path %></p>