<%= form_for @product , url:{action: :create} do |f| %>
  <%= f.label :name,'商品名' %>
  <%= f.text_field :name %>
  <%= f.label :price,'価格' %>
  <%= f.number_field :price %>円
 <p><%= f.submit '登録' %></p>
<% end %>

